%h1 Login

= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"


= form_for(:session, url: login_path) do |f|

  = f.label :email
  = f.email_field :email

  = f.label :password
  = f.password_field :password

  = f.label :remember_me do
    =f.check_box :remember_me
    %span　ログイン状態を保持する。

  = f.submit "ログイン"

= link_to "新規登録はこちら", signup_path
