.board.large
  %h1 会員登録
  .line
  .board.middle
    = form_for(:session, url: login_path) do |f|
      .submit-field
        %p.comment メールアドレス
        = f.email_field :email
        %p.comment パスワード
        = f.password_field :password

        / = f.label :"パスワード確認"
        / = f.password_confirmation_field :password_confirmation
        .txt_checkbox
          %p.txt ログイン状態を保持する
          = f.label :remember_me, class: 'checkbox' do
            =f.check_box :remember_me
      .submit-button
        = f.submit "ログイン"
