= form_for seller do |f|
  - if seller.errors.any?
    #error_explanation
      %h3
        入力内容の誤りが
        = pluralize(seller.errors.count, "箇所")
        あります:
      %ul
        - seller.errors.full_messages.each do |message|
          %li= message

  .submit-field
    .basic_info
      .img-field
        .mask.preview
          - if seller.photo.present?
            = image_tag seller.photo, class: "circle-img"
          - else
            %i.fa.fa-camera
          = f.file_field :photo, class: "seller-photo-field"
          = f.hidden_field :photo_cache
        %p.comment.must ※必須(正方形の画像推奨)

      %p.comment 自己紹介
      = f.text_field :self_introduction
      = hidden_field_tag :user_id, current_user.id

      %p.comment HPやinstagramなど
      = f.text_field :sns_info

      .next-button
        個人情報登録へ

    .individual_info
      %p.comment.must ※正しくお支払するために厳密な本人確認が必要です。少し長いですがご容赦下さい。
      %p.comment 性（漢字）
      = f.text_field :last_name_kanji, placeholder: "山田"

      %p.comment 名（漢字）
      = f.text_field :first_name_kanji, placeholder: "太郎"

      %p.comment 性（かな）
      = f.text_field :last_name_kana, placeholder: "やまだ"

      %p.comment 名（かな）
      = f.text_field :first_name_kana, placeholder: "たろう"

      %p.comment 生年月日
      = f.date_field :date_of_birth

      %p.comment 性別
      = f.select :gender, [["男性", "male"], ["女性", "female"]]

      %p.comment 住所：都道府県（漢字）
      = f.text_field :address_kanji_state, placeholder: "東京都"

      %p.comment 住所：市区町村（漢字）
      = f.text_field :address_kanji_city, placeholder: "品川区"

      %p.comment 住所：町村（漢字）
      = f.text_field :address_kanji_town, placeholder: "大崎1丁目"

      %p.comment 住所：番地・建物（漢字）
      = f.text_field :address_kanji_line, placeholder: "11-2-211"

      %p.comment 住所：都道府県（かな）
      = f.text_field :address_kana_state, placeholder: "とうきょうと"

      %p.comment 住所：市区町村（かな）
      = f.text_field :address_kana_city, placeholder: "しながわく"

      %p.comment 住所：町村（かな）
      = f.text_field :address_kana_town, placeholder: "おおさき3-"

      %p.comment 住所：番地・建物（かな）
      = f.text_field :address_kana_line, placeholder: "11-2-211"

      %p.comment 郵便番号(ハイフン不要)
      = f.text_field :postal_code, placeholder: "1410032"

      %p.comment 電話番号
      = f.text_field :phone_number, placeholder: "09000000000"
      .previous-button1
        プロフィール情報に戻る
      .show_more_button
        銀行口座情報へ

    .bank-info
      = f.fields_for :bank_account do |ba|
        %p.comment 銀行名
        = ba.text_field :bank, placeholder: "例：もぐシェア銀行", required: true

        %p.comment 金融機関コード
        = ba.text_field :bank_code, placeholder: "例：1111", required: true

        %p.comment 口座種別
        = ba.select :account_type, [["普通", "normal"], ["当座", "current"]], required: true

        %p.comment 支店コード
        =ba.text_field :branch_code, placeholder: "例：111", required: true

        %p.comment 口座番号
        =ba.text_field :account_number, placeholder: "例：1111111", required: true

        %p.comment 口座名義
        =ba.text_field :name, placeholder: "モグシェアタロウ", required: true

    / %p.comment 通知メールの配信設定(オフすると投稿があった時、メッセージが来た時や購入された際に気付けなくなります)
    / = f.text_field :address
  .previous-button2
    個人情報に戻る

  .submit-button
    = f.submit "確定する"



  %p
    =link_to "ログアウト", logout_path, method: :delete

  %p
    お問合わせは mogushare.net@gmail.com までお願いします。
