= form_for seller do |f|
  - if seller.errors.any?
    #error_explanation
      %h3
        = pluralize(seller.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - seller.errors.full_messages.each do |message|
          %li= message

  / image_tagのところ、ifあるならその画像,無いなら白丸にfont-awesomeのアイコン、という形で処理
  .submit-field
    .basic_info
      .img-field
        .mask
          %i.fa.fa-camera
          = f.file_field :photo, class: "seller-photo-field"
          = f.hidden_field :photo_cache
        %p.comment.must ※必須(正方形の画像推奨)

      %p.comment 自己紹介
      = f.text_field :self_introduction, required: true
      = hidden_field_tag :user_id, current_user.id

      %p.comment HPやinstagramなど
      = f.text_field :sns_info

      .next-button
        銀行口座情報へ

    .bank-info
      = f.fields_for :bank_account do |ba|
        %p.comment 銀行名
        = ba.text_field :bank,　required: true, placeholder: "例：もぐシェア銀行"

        %p.comment 金融機関コード
        = ba.text_field :bank_code, placeholder: "例：1111"

        %p.comment 口座種別
        = ba.select :account_type, [["普通", "normal"], ["当座", "current"]]

        %p.comment 支店コード
        =ba.text_field :branch_code, placeholder: "例：111"

        %p.comment 口座番号
        =ba.text_field :account_number, placeholder: "例：1111111"

        %p.comment 口座名義
        =ba.text_field :name, placeholder: "モグシェアタロウ"

    / %p.comment 通知メールの配信設定(オフすると投稿があった時、メッセージが来た時や購入された際に気付けなくなります)
    / = f.text_field :address

  .submit-button
    = f.submit "編集する"
  .previous-button
    プロフィール情報に戻る

  %p
    =link_to "ログアウト", logout_path, method: :delete

  %p
    お問合わせは mogushare.net@gmail.com までお願いします。
