= form_for seller do |f|
  - if seller.errors.any?
    #error_explanation
      %h3
        = pluralize(seller.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - seller.errors.full_messages.each do |message|
          %li= message

  / image_tagのところ、ifあるならその画像,無いなら白丸にfont-awesomeのアイコン、という形で処理
  .submit-field
    .img-field
      .mask
        %i.fa.fa-camera
        = f.file_field :photo, required: true
      %p.comment.must ※必須

    %p.comment 自己紹介
    = f.text_field :self_introduction, required: true
    = hidden_field_tag :user_id, current_user.id

    %p.comment HPやinstagramなど
    = f.text_field :sns_info, required: true

  .submit-button
    = f.submit "登録する"
