= form_for seller do |f|
  - if seller.errors.any?
    #error_explanation
      %h3
        = pluralize(seller.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - seller.errors.full_messages.each do |message|
          %li= message

  / image_tagのところ、ifあるならその画像,無いなら白丸にfont-awesomeのアイコン、という形で処理
  .submit-field
    .basic_info
      .img-field
        .mask
          %i.fa.fa-camera
          = f.file_field :photo, required: true, class: "seller-photo-field"
        %p.comment.must ※必須

      %p.comment 自己紹介
      = f.text_field :self_introduction, required: true
      = hidden_field_tag :user_id, current_user.id

      %p.comment HPやinstagramなど
      = f.text_field :sns_info

      .next-button
        銀行口座情報へ

    .bank-info
      = f.fields_for :bank_account do |ba|
        %p.comment 銀行名
        = ba.text_field :bank

        %p.comment 口座種別
        =ba.text_field :account_type

        %p.comment 支店コード
        =ba.text_field :branch_code

        %p.comment 口座番号
        =ba.text_field :account_number

        %p.comment 口座名義
        =ba.text_field :name

  .submit-button
    = f.submit "登録する"
