/confirm,history,静的ページ(規約等)を載せている

/ 以下confirm系は全て今はログインページのformを当てている。デザインは一緒なのでform forの中身をそれぞれ変える！

/ 共通header削除(appendする文言は適宜変える必要あり)
/ :javascript
/   $(document).on('turbolinks:load', function() {
/   $('header').hide();
/   $(".header-board img").hide();
/   $(".header-board p").append("返金手続き");
/   });
/ = render 'shared/header_white'

/ buy-confirmーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.board.large
  %h1 商品①
  .line
  .board.middle
    = form_for(:session, url: login_path) do |f|
      .submit-field
        %p.comment メールアドレス
        = f.email_field :email
        %p.comment パスワード
        = f.password_field :password
        .add-button
          ここまま買い物を続ける
      %p.txt
        キャンセルに伴う返金はクックが承認した時のみ可能です。詳しくは
        = link_to "キャンセルポリシー", index_path, target: "_blank"
        を御覧下さい。
      .submit-button
        = f.submit "これで購入する"



/ post-confirm(add-buttonまでeachして)submitだけはeachの外に一度だけ設置ーーーーーーーーーーーーーーーーーーー
/ = form_for(:session, url: login_path) do |f|
/   .board.large
/     %h1 商品①
/     .line
/     .board.middle
/       .submit-field
/         %p.comment メールアドレス
/         = f.email_field :email
/         %p.comment パスワード
/         = f.password_field :password
/         .add-button
/           編集する
/   .submit-button.outside-board
/     = f.submit "投稿する"


/ cancel-confirm(required meとチェックボックスは有効か？)ーーーーーーーーーーーーーーーーーーーーーーーーーー
/ .board.large.color-none
/   .board.middle.color-none
/     = form_for(:session, url: login_path) do |f|
/       .submit-field
/         %p.comment メールアドレス
/         = f.email_field :email
/         %p.comment パスワード
/         = f.password_field :password
/         %p.must 返金を確定する前に確認しましたか？
/         .txt_checkbox
/           %p.txt クックとメンバーの間で合意できている
/           = f.label :remember_me, class: 'checkbox', required: true do
/             =f.check_box :remember_me

/       .submit-button
/         = f.submit "返金する"


/ ----------------------ここまでconfirm系
/ ----------------------ここからhistory系、chatのデザインをベースに

/ ----------------------buy-history(memberから見た)
/ %div.no_item
/   取引履歴はありません

/ .board.large
/   .chat-board
/     .cook_info
/       = image_tag "blank.jpg"
/     .chat-txt
/       %span 田中よしみ
/       %span 商品名：
/       %span 購入個数：〇個
/       %span 合計金額：〇〇〇〇円
/     .chat-time
/       %span 2018/2/21
/ = render 'shared/after_signup_footer'

/ ----------------------buy-history(cookから見た)
/ %div.no_item
/   取引履歴はありません
/ .board.large
/   .chat-board
/     .cook_info
/       = image_tag "blank.jpg"
/     .chat-txt
/       %span 田中よしみ
/       %span 商品名：
/       %span 購入個数：〇個
/       %span 合計金額：〇〇〇〇円
/     .chat-time
/       %span 2018/2/21
/       %span 返金する
/ = render 'shared/after_signup_footer'



/ --------------------------------------------------------ここまでhistory
/ --------------------------------------------------------ここからstatic

/ ----------------------thanksページ
/ .board.large
/   .board.middle
/     %h1.title
/       購入ありがとうございます。
/       %br
/       お支払が完了しました。
/       %br
/       %br
/       クックの〇〇さんとチャットで場所や時間を調整して下さい！
/       %br
/       %br
/       %span
/         ※キャンセルは合意が取れた場合、クックからのみ可能です。キャンセルご希望の場合はクックと個別に相談して下さい。
/     .add-button
/       クックとのトークに移動する
/ = render 'shared/after_signup_footer'


/ ----------------------promise,contact,sanitary,company,pp,cpページ(1つでまとめる)
/ .board.large
/   %h1 利用規約
/   .line
/   .board.middle.txt
/     こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
/ = render 'shared/footer'

/ ----------------------faqページ
.board.large
  .faq-board
    %input{type: :checkbox, id: "q01"}
    %label{for:"q01", class: "question-section"}
      .faq-icon
        %i.fas.fa-search
      .question
        %p おすそわけは週何回でしょうか？場所と時間も決まっていますか？
      .faq-icon
        %i.fas.fa-plus-circle
    .answer-section01
      %p おすそわけする方が好きな頻度で行います。場所,時間は郵便番号で繋がれるご近所さんと直接詳細を決めることができます。

.board.large
  .faq-board
    %input{type: :checkbox, id: "q02"}
    %label{for:"q02", class: "question-section"}
      .faq-icon
        %i.fas.fa-search
      .question
        %p イベントやおすそわけの価格はどのくらいでしょうか？
      .faq-icon
        %i.fas.fa-plus-circle
    .answer-section02
      %p 例えばおすそわけ会(子ども食堂)は大人500円子ども300円です。おすそわけは、クックが自由に設定します(原材料費＋α程度が一般的です)。

.board.large
  .faq-board
    %input{type: :checkbox, id: "q03"}
    %label{for:"q03", class: "question-section"}
      .faq-icon
        %i.fas.fa-search
      .question
        %p アレルギーは対応していますか？
      .faq-icon
        %i.fas.fa-plus-circle
    .answer-section03
      %p "おすそわけ"の範疇で対応は難しいので、アレルギーのある方は自己責任でお願いしています。