- @group.users.each do |user|
  - if user.name != current_user.name
    %div
    #{user.name}さん
- @talk_logs.each do |talk|
  %div
  = talk.user.name
  = talk.created_at.strftime('%Y年%m月%d日　%H:%M')
  %p= talk.message
= form_for @talk, url: talks_path do |f|
  = f.label :message
  %br
  = f.text_area :message
  = f.hidden_field :group_id, value: @group.id
  = f.submit "送信"
