/ ビューを整える必要あり
= link_to "戻る", talks_path(current_user)
- @group.users.each do |user|
  - if user.name != current_user.name
    %div
      #{user.name}さん
.board.large.color-none
  - @talk_logs.each do |talk|
    - if talk.user.id == current_user.id
      %div.kaiwa
        %figure.kaiwa-img-right
          - if talk.user.seller.photo.present?
            = image_tag talk.user.seller.photo
          -else
            = image_tag "blank.png"
          %figcaption.kaiwa-img-description
        %div.kaiwa-text-left
          %p.kaiwa-text
            = talk.message
        / = talk.created_at.strftime('%Y年%m月%d日　%H:%M')
    - else
      %div.kaiwa
        %figure.kaiwa-img-left
          - if talk.user.image.present?
            = image_tag talk.user.image
          -else
            = image_tag "blank.png"
          %figcaption.kaiwa-img-description
        %div.kaiwa-text-right
          %p.kaiwa-text
            = talk.message


= form_for @talk, url: talks_path do |f|
  = f.label :message
  %br
  = f.text_area :message
  = f.hidden_field :group_id, value: @group.id
  = f.submit "送信"


