- if @orders.present?
  - @orders.each do |order|
    - order.order_details.each do |od|
      .board.large
        .chat-board
          .cook_info
            = mypage_profile_image(order.seller.user)
          .chat-txt
            %span 購入者名：#{order.user.name}さん
            %span 販売者名：#{order.seller.user.name}さん
            %span 商品名と個数： #{od.share.menu}, #{od.quantity} 個
            %span 合計金額：#{od.unit_price*od.quantity} 円
            - if current_user.seller.present? && order.seller_id == current_user.seller.id
              =link_to "取引をキャンセルし返金する", cancel_confirm_charges_path(order_detail_id: od.id)
          .chat-time
            %span= od.created_at.strftime('%m/%d')

- else
  %div.no_item
    取引履歴はありません

= render 'shared/after_signup_footer'
