- if @orders.present?
  - @orders.each do |order|
    - order.order_details.each do |od|
      .board.large
        .chat-board
          .cook_info
            = mypage_profile_image(order.seller.user)
          .chat-txt
            %span= order.seller.user.name
            %span 商品名： #{od.share.menu}
            %span 購入個数：#{od.quantity} 個
            %span 合計金額：#{od.unit_price*od.quantity} 円
            - if current_user.seller.present? && order.seller_id == current_user.seller.id
              =link_to "取引をキャンセルし返金する", index_path
          .chat-time
            %span= od.created_at.strftime('%m/%d')

- else
  %div.no_item
    取引履歴はありません

= render 'shared/after_signup_footer'
