= form_for(@user) do |f|
  = render 'shared/error_messages'

  .submit-field
    .basic_info
      %p.comment お名前
      = f.text_field :name
      %p.comment メールアドレス
      = f.email_field :email
      %p.comment パスワード
      = f.password_field :password
      %p.comment パスワード確認用
      = f.password_field :password_confirmation
      %p.comment 新しく投稿があった際にメールを受信する

      -if @user.mailer == true
        = f.check_box :mailer,  {checked: true}, 1, 0
      -else
        = f.check_box :mailer,  {checked: false}, 1, 0

  .fix-button
    = f.submit "編集する"
