.board.large
  %h1 facebookで登録はこちら
  .facebook_button
    = link_to "facebookで登録", "/auth/facebook", id: "sign_in"
  .line
  %h1 メールアドレスで登録はこちら
  .board.middle
    = form_for(@user, url: signup_path) do |f|
      = render 'shared/error_messages'
      = hidden_field_tag :area_id, @area.id

      .submit-field
        %p.comment 名前
        = f.text_field :name
        %p.comment メールアドレス
        = f.email_field :email
        %p.comment パスワード
        = f.password_field :password
        %p.comment パスワード確認
        = f.password_field :password_confirmation
      .txt_checkbox
        %p.txt
          = link_to "利用規約", index_path, target: "_blank"
          に同意する
        = f.label :agreement, class: 'checkbox', required: true do
          =f.check_box :accepted ,{:checked => true}
      %p.txt ネットワークビジネスに関わる行為は全て禁止です。見つけ次第即退会となります。
      .fix-button
        = f.submit "無料で会員登録する"
