%h1 Signup

= form_for(@user, url: signup_path) do |f|
  = render 'shared/error_messages'

  - @areas.each do |area|
    = area.city + area.street
    = hidden_field_tag :area_id, area.id

  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Confirmation"
    = f.password_field :password_confirmation
  %div
    = f.submit "登録"
