%h2 プロフィール

紹介クーポンコード：
= @user.user_invitation_code.code
%br
※このコードをお友達に紹介すると、もぐシェア内の割引で使える"もぐポイント"がゲットできます
%br
%br
= link_to "お名前/メールアドレス等を編集", edit_user_path(current_user)

-if current_user.seller.present?
  = link_to "cook情報の編集", edit_seller_path(current_user)
  = link_to "口座情報を登録", new_seller_bank_account_path(current_user.seller)
-elsif current_user.seller.bank_account.present?
  = link_to "cook情報の編集", edit_seller_path(current_user)
  = link_to "口座情報を編集", edit_seller_bank_account_path(current_user.seller)



%h2 投稿済みのチケット
-if @current_seller.present?
  -if @current_seller.tickets.present?
    - @tickets.each do |ticket|
      - ticket.shares.each do |share|
        .board.large
          .board.middle
            %p.ticket_title #{share.menu} | #{share.price} 円
            .ticket_info
              - if ticket.event_end_date.present?
                %i.fas.fa-hourglass #{ticket.event_date.strftime('%m/%d %H:%M')} - #{ticket.event_end_date.strftime('%m/%d %H:%M')}
                %i.fas.fa-map-pin #{ticket.event_place}
                %i.fas.fa-tag #{ticket.genre}
          .board-img
            = image_tag share.image
          .board.middle
            %p #{share.message}
          .ticket-line
          .board.middle
            .jump-to-detail
              .next-button
                =link_to "チケットを編集する", edit_ticket_path(ticket.id)
              - unless share.order_details.present?
                .middle-small-button
                  =link_to "このメニューを削除する", ticket_share_path(ticket.id, share.id), method: :delete

= render 'shared/after_signup_footer'
