%h1 Profile

= mypage_profile_image(current_user)
= @user.name
= @user.email

%div
= link_to "プロフィール編集", edit_user_path(current_user)
%div
= link_to "購入履歴一覧", "#"
%div
= link_to "投稿履歴一覧", "#"
%div
= link_to "口座情報", "#"
