%h1 Profile

= mypage_profile_image(current_user)
= @user.name
%div
= @user.email

= link_to "プロフィールを編集", edit_user_path(current_user)
= link_to "口座情報を編集", "#"

- @tickets.each do |ticket|
  - ticket.shares.each do |share|
    .board.large
      .board.middle
        %p.ticket_title #{share.menu} | #{share.price} 円
        .ticket_info
          - if ticket.event_end_date.present?
            %i.fas.fa-hourglass #{ticket.event_date.strftime('%m/%d %H:%M')} - #{ticket.event_end_date.strftime('%m/%d %H:%M')}
            %i.fas.fa-map-pin #{ticket.event_place}
            %i.fas.fa-tag #{ticket.genre}
      .board-img
        = image_tag share.image
      .board.middle
        %p #{share.message}
      .ticket-line
      .board.middle
        .jump-to-detail
          / .cook_info
          /   = image_tag ticket.seller.photo
          /   %span
          /     #{ticket.seller.user.name}
          .next-button
            =link_to "投稿を編集する", edit_ticket_path(ticket.id)
