#{@user.name}さん

もぐシェア運営事務局です。
#{@current_user.name}さんから新しいメッセージが来ています。

「#{@current_user.talks.last.message}」

返信はこちらから。
- if Rails.env.production?
  https://mogshare.net/talks/#{@group.id}
- else
  http://localhost:3000/talks/#{@group.id}
