%header
  .mogura-icon
    =image_tag "mogura-moji.png"

  -if logged_in?
    .header_txt
      -if current_user.seller.present?
        = link_to current_user.name, edit_seller_path(current_user.seller)
      - else
        = link_to current_user.name, new_seller_path
    .header_img
      = mypage_profile_image(current_user)

  -else
    .signup_button
      = link_to '会員登録', signup_path
    .signin_button
      = link_to 'ログイン', login_path
