-if logged_in?
  = link_to 'プロフィール', user_path(current_user.id)
  = link_to 'ログアウト', logout_path, method: :delete
  = link_to '販売者登録', new_seller_path
  = link_to 'タイムライン',tickets_path
  = link_to 'トーク一覧', talks_path
-else
  = link_to 'signup', signup_path
  = link_to 'login', login_path
