%header
  .header_container
    .mogura-icon
      =image_tag "mogura-moji.png"

    -if logged_in?
      .pc_alert_button
        スマホ専用サイトのため、登録/ログインはスマホからのみ可能です
      .header_txt
        -if current_user.seller.present?
          = link_to current_user.name, edit_seller_path(current_user.seller)
        - else
          = link_to current_user.name, new_seller_path
      .header_img
        = mypage_profile_image(current_user)
    -else
      .pc_alert_button
        ログイン/会員登録はスマホから
      .signup_button
        = link_to '無料登録', signup_path
      .signin_button
        = link_to 'ログイン', login_path
