.nested-fields
  %div
    = f.label :genre
    = f.text_field :genre
  %div
    = f.label :menu
    = f.text_field :menu
  %div
    = f.label :price
    = f.text_field :price
  %div
    = f.label :quantity
    = f.number_field :quantity
    人前
  %div
    = link_to_remove_association 'メニュー削除', f
