= form_for @ticket do |f|

  = f.hidden_field :event_date, value: @ticket.event_date
  = f.hidden_field :event_end_date, value: @ticket.event_end_date
  = f.hidden_field :expiration_date, value: @ticket.expiration_date
  = f.hidden_field :event_place, value: @ticket.event_place
  = f.hidden_field :genre, value: @ticket.genre


  - @shares.each_with_index do |share, i|
    .board.large
      %h1 商品#{i+1}
      .line
      .board.middle
        .submit-field
          %p.comment タイトル
          = share.menu
          %p.comment 注文個数
          = share.quantity
          %p.comment 価格|1つあたり
          = share.price
          %p.comment 日時

        = f.submit "編集する", name: "back"
  .fix-button
    = f.submit "投稿する"

  = f.fields_for :shares, @shares do |s|
    = s.hidden_field :menu
    = s.hidden_field :price
    = s.hidden_field :quantity
    = s.hidden_field :message
    = s.hidden_field :image
    = s.hidden_field :image_cache
    / = s.hidden_field :"cache[image]", s.image.cache_name





