.main
/ ここマッチングのロジックに応じて変わる
- if @tickets.length > 0
  - @tickets.uniq.each do |ticket|
    - if ticket.expiration_date > Time.current
      - ticket.shares.each do |share|
        - if share.quantity != 0
          .board.large
            .board.middle
              %p.ticket_title #{share.menu} | #{share.price} 円
              .ticket_info
                / 後でif文削除
                - if ticket.event_end_date.present?
                  %i.fas.fa-hourglass #{ticket.event_date.strftime('%m/%d %H:%M')} - #{ticket.event_end_date.strftime('%m/%d %H:%M')}
                %i.fas.fa-map-pin #{ticket.event_place}
                %i.fas.fa-tag #{ticket.genre}
            .board-img
              = image_tag share.image
            .board.middle
              %p #{share.message}
            .ticket-line
            .board.middle
              .jump-to-detail
                .cook_info
                  = image_tag ticket.seller.photo
                  %span
                    #{ticket.seller.user.name}
                .show_more_button
                  =link_to "もっと見る", ticket_path(ticket.id)

  / 以下はelse以下で表示するように
- else
  %div.no_item
    .center_align
      %p
        まだご指定の地域に投稿はありません。
        %br
        まずはシェアして、身近な所からやり取りを始めてみませんか？
      %span.smaller
        lineでシェアはこちら➜
        .line-it-button{ data: { lang: 'ja', type: 'share-b', url: "https://mogushare.net/"}, style: "display: none;"}
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        %br
        facebookでシェアはこちら➜
        .line-it-button{ data: { lang: 'ja', type: 'share-b', url: "https://mogushare.net/"}, style: "display: none;"}
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        %br
        URLでシェアはこちら(コピーして下さい)↓
        %br
        https://mogushare.net/



= render 'shared/after_signup_footer'
