:javascript
  $(document).on('turbolinks:load', function() {
  $('.detail_info, .submit-button, .add-button').hide();
  $('.next-button').on('click', function(){
    $('.basic_info').hide();
    $('.detail_info, .submit-button, .add-button').show();
    });
  });

.board.large.color-none
  %h1.title 投稿
  .board.middle.color-none
    = form_for @ticket, url: {action: 'confirm'} do |f|
      - if @ticket.errors.any?
        #error_explanation
          %h3
            = pluralize(@ticket.errors.count, "error")
            prohibited this ticket from being saved:
          %ul
            - @ticket.errors.full_messages.each do |message|
              %li= message
      .submit-field
        .basic_info
          %p.comment ジャンル
          = f.text_field :genre, required: true, placeholder: "例 | おすそわけ"
          %p.comment 開始日時(おすそわけの場合、受渡可能な時間幅)
          .date-box
            = f.datetime_select :event_date, required: true, use_month_numbers: true
          %p.comment 終了日時
          .date-box
            = f.datetime_select :event_end_date, required: true, use_month_numbers: true
          %p.comment 予約締切日時
          .date-box
            = f.datetime_select :expiration_date, required: true, use_month_numbers: true
          %p.comment 場所(可能な限り詳細に記述して下さい)
          = f.text_field :event_place, required: true, placeholder: "例 | 広尾郵便局前"
          .next-button
            次へ

        .detail_info
          = f.fields_for :shares do |share|
            %p.comment タイトル
            = share.text_field :menu, required: true, placeholder: "例 | 肉じゃが"
            %p.comment 販売価格: 1つあたり
            = share.text_field :price, required: true, placeholder: "例 | 100"
            %p.comment 販売数
            = share.text_field :quantity, required: true, placeholder: "例 | 4"
            %p.comment 画像(必須ではありません)
            .post-images
              .mask-squre
                %i.fa.fa-camera
                  = share.file_field :image
                  = share.hidden_field :image_cache
            %p.comment 詳細
            = share.text_area :message, required: true, rows: "3"
            = link_to_add_association '別の商品を登録する', f, :shares, class: "add-button"
      = hidden_field_tag :seller_id, current_user.seller.id
      .submit-button
        = f.submit "確認ページへ"
