%h1 チケット詳細

%div
= mypage_profile_image(@seller.user)
= @seller.official_name
%div
= @seller.address
%br

%div
%h4 おすそわけ
= image_tag @ticket.image, class: "ticket-image"
- @shares.each do |share|
  %div.ticket-item
    = share.menu
    #{share.quantity}人前
    ¥#{share.price}

%div
= @ticket.message

%div
合計：
= @shares_price

- if current_user.seller.nil? || current_user.seller.id != @ticket.seller_id
  %div
  = link_to 'これで決済する', new_charge_path(id: @ticket.id)
- else
  %div
  = link_to '削除する', ticket_path(@ticket.id), method: :delete, data: {confirm: "are you sure?"}
  = link_to '編集する',edit_ticket_path(@ticket.id)
