.white-container
  .top_img
    = image_tag "amb_top.png"
    %p.amb
      私達と一緒に子育ての
      %br
      新しい拠り所を作りませんか？
  .white_content
    .top_txt
      %p
        "もぐシェア"の地域コミュニティを
        %br
        一緒に作るアンバサダー、"もぐバサダー"を募集しています

  .gray_content
    .title
      %p どうしてもぐバサダーが必要なの？
      .top_txt.sub
        %span
          "もぐシェア"はこれまでにない子育ての拠り所を作る、新しいチャレンジです。
          %br
          また食と子育てに関わるため、何より信頼が大事なコミュニティです。
          %br
          だからこそ
          %u 一人一人が身近なところから「”孤育て”や”ワンオペ育児”を無くす」「「困った」を皆で支え合う社会を作る」という理念への共感を言葉にし伝えて頂くこと
          はどんな広告よりも価値があると考えています。
      .content.none-radius
        =image_tag "reason_amb.png"
  .white_content
  .title
    %p もぐバサダーの活動
    .top_txt.sub
      %span
        もぐバサダーになると任意で次のような活動や特典があります(一部活動に応じた謝礼があります)。
        %ul
          %li ・知人への紹介,SNSでのシェア
          %li ・地域食堂(子ども食堂)などイベント運営の手伝い
          %li ・もぐシェアの意思決定に関われる、もぐバサダー限定の”もぐトーク”への招待
          %li ・もぐシェアの1年を総括しアワードなどを決める”もぐ総会”への優先招待
  .gray_content
    .title
      %p もぐバサダー紹介
      .top_txt.sub
        %span.center
          専業主婦から元外資の共働きのお母さん,料理教室の先生からヨガインストラクターまで様々な人が活動しています。
          %br
          地域でやりがいを見つけたい、子育て家庭の力になりたい、そんな優しくて強い意志を持つ人達の集まりです。
          %br
          %br
          ※もぐバサダー一覧はこちら(現在準備中)
    .img_txt_2_column
      .img_content
        .user_img
          = image_tag('amb1.png')
        .user_img
          = image_tag('amb2.png')
      .img_content
        .user_img
          = image_tag('amb3.png')
        .user_img
          = image_tag('amb4.png')
      %p.small
        「自分が子育てが一番大変だった時にまさに欲しかった仕組み」「女性の視点を社会に還元して明るい社会にしたい」「地域社会の可能性,再活性に興味がある」など、様々な理由でもぐバサダーとして活動しています。

  .white_content
    .title
      %p もぐバサダーに登録する
      .top_txt.sub
        %span.center
          "もぐシェア"では地域問わずもぐバサダーの方を募集しています。
          %br
          まずはあなたの身近なところから
          %br
          優しい繋がりを作っていきませんか？以下の流れで登録できます。
          %br
          %br
          ①もぐバサダー制度の詳細をPDFで確認する
          %br
          ダウンロードは
          =link_to "こちらから" , "mogu-bassador.pdf" , target: "_blank"
          %br
          ※作成途中ですが、概要をご確認下さい。
          %br
          ②以下のフォームをご送信下さい。3日以内にご連絡します。
          %br
          ③運営と30分ほど面談(お電話やskype),専用グループへ案内
    %iframe{src: "https://docs.google.com/forms/d/e/1FAIpQLSdiI1LR1RXJLP9ryPseVbt5tYGXkKrKAsR4XpUiiEJdmTZzvw/viewform?embedded=true"}

=render 'shared/footer'
/ = link_to "スマホで今すぐ会員登録", index_path
