#{@user.name}さんが新しいおすそわけを公開しました

- @shares.each do |share|
  メニュー: #{share.menu}
  価格: #{share.price}

- if Rails.env.production?
  https://mogshare.net/tickets/#{@ticket.id}
- else
  http://localhost:3000/tickets/#{@ticket.id}
