!!!
%html
  %head
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0" />
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title もぐシェア - おすそわけ地域コミュニティ
    %meta{:property => "fb:app_id", :content => "1896249914022367"}
    %meta{:property => "og:image", :content => "https://mogushare.net/assets/reason_amb.png"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "https://mogushare.net/"}
    %meta{:property => "og:site_name", :content => "もぐシェア"}
    %meta{:property => "og:description", :content => "地域の子育て家庭と料理上手さんが繋がり、料理教室やおすそわけ情報をやり取りする地域コミュニティ"}
    %meta{:name => "title", :content => "もぐシェア - おすそわけ地域コミュニティ"}
    %meta{:name => "description", :content => "もぐシェアは地域の子育て家庭と料理上手さんが繋がり、料理教室やおすそわけ情報をやり取りする地域コミュニティです。「自分の料理で誰かに喜んで欲しい」「子どもが小さく毎日の料理が大変」そんな人たちが集まり、食と子育てを軸に助け合う仕組みです。"}
    %meta{:name => "keywords", :content => "もぐシェア, 料理, おすそ分け"}
    %meta{:name => "twitter:card", :content => "summary"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
  %body
    = render 'shared/header'
    - flash.each do |message_type, message|
      .alert
        = message
    = yield
